
/* Main page styles */
#root {
  min-height: 100%;
  display: block;
  width: 100%;
  margin: auto;
  padding: 0rem;
  text-align: center;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#content {
  margin-top: 10rem;
}
#search-button {
  margin-left: 3rem;
}
#firstLine {
  font-size: 2.2em;
  line-height: .3;
  padding: 1rem 0;
  margin: 0;
}
#sf {
  height: 8rem;
}
/* Price history styles */

#timeContainer {
  padding: 0 0 0 14rem;
  justify-content: center;
  align-items: center;
  height: 100%
}
#timeContainer h2 {
  color: lightpink;
  padding: 0;
  margin: 0;
}
#timeContainer h3 {
  font-size: 80%;
  margin: 0;
}
#timeContainer p {
  padding: 0;
  margin: 0;
  font-size: 150%;
  font-weight: bold;
}
.icon {
  height: 1em;
  padding-top: none;
  will-change: filter;
  transition: filter 300ms;
}
.icon:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.up {
  color: red;
}
.down {
  color: rgb(72, 227, 72);
}
.equal {
  color: white;
}
.card {
  padding: 2em;
}

.chart-container {
  width: 600px;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.canvas-wrapper {
  display: flex;
  justify-content: center;
  width: full;
}

.currentCity {
  font-size: 105%;
  font-weight: bold;
}

.priceTitle {
  padding: 3rem 0 1rem 0;
}
.departingLabel {
  padding-right: .5rem;
}

.search {
  margin: 0 3rem;
}
span .search {
  padding: 1rem;
  margin: 0 2rem;
}
button .search {
  padding-left: 5rem;
  margin-left: 0;
}
.price-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.price-alert button {
  margin: 0;
  background-color: lightcoral;
}
/* Suggestions styles */
.suggestion-item {
  width:20%;
  padding: 8px;
  cursor: pointer;
  color: black;
  background-color: white;
  border: 1px solid #ddd;
  z-index: 1000;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.suggestions {
  position: relative;
  flex-direction: row;

}
.suggestions-container {
  position: absolute;
  top: 90%;
  left: 52%;
  transform: translate(0%, 0%);
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  z-index:1000;


}
