/*
/* Main page styles */
#root {
  min-height: 100%;
  display: block;
  width: 100%;
  margin: auto;
  padding: 0rem 0rem 2rem 0rem;
  text-align: center;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#content {
  margin-top: 10rem;
}
#search-button {
  margin-left: 3rem;
}
#firstLine {
  font-size: 3.2em;
  line-height: .3;
  padding: 1rem 0;
  margin: 0;
}
#sf {
  height: 12rem;
  padding: 0;
  margin: 0;
}
/* Price history styles */

#timeContainer {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  height: 100%;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100%
}
#timeContainer h2 {
  color: lightpink;
  padding: 0;
  margin: 0;
}
#timeContainer h3 {
  font-size: 80%;
  margin: 0;
}
#timeContainer p {
  padding: 0;
  margin: 0;
  font-size: 150%;
  font-weight: bold;
}
#price-alert {
  /* margin: 1.5rem 1.5rem 0 1.5rem; */
  margin: 0;
  padding: .25rem .5rem;
  display: inline-block;
  height: auto;
  background-color: lightcoral;


}
.icon {
  height: 1em;
  padding-top: none;
}

.up {
  color: red;
}
.down {
  color: rgb(72, 227, 72);
}
.equal {
  color: white;
}
.card {
  padding: 2em;
}

.chart-container {
  width: 600px;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.canvas-wrapper {
  display: flex;
  justify-content: center;
  width: full;
}

.currentCity {
  font-size: 105%;
  font-weight: bold;
}

.priceTitle {
  padding: 0 0 0 0;
  margin: .5rem auto;
  display: flex;
  width: 600px;
  height: 6rem;
  align-items: end;
  justify-content: space-between;
}
.priceTitle span {
align-content: end;
}

.departingLabel {
  padding-right: .5rem;
}

.search {
  margin: 0 3rem;
}
span .search {
  padding: 1rem;
  margin: 0 2rem;
}
button .search {
  padding-left: 5rem;
  margin-left: 0;
}
.price-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* Suggestions styles */
.suggestion-item {
  width:20%;
  padding: 8px;
  cursor: pointer;
  color: black;
  background-color: white;
  border: 1px solid #ddd;
  z-index: 1000;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.suggestions {
  position: relative;
  flex-direction: row;

}
.suggestions-container {
  position: absolute;
  top: 90%;
  left: 52%;
  transform: translate(0%, 0%);
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index:1000;
}

/* Price Alert Styles */
.space {
  height: 120px;
  margin-top: 40px;
}
.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  margin-bottom: 15px;
  margin-left: 0;
  padding-left: 0;
  border: 2px;
}
.notification {
  display: flex;
  width: 350px;
  background-color: white;
  border: red;
  border-radius: 1px;
}
.notification form {
  width: 100%;
  padding: 8px 10px 5px 8px;
  text-align: left;
  border: red;
}
.arrow {
  padding: 0 6px;
}
.fields {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.notification label {
  flex: 1 1;
  text-align: left;
}
.notification input {
  flex: 0;
  margin-left: 10px;
}

.x {
  color: black;
  margin: 5px;
  padding: 0px;
  align-self: end;
}
.x:hover {
  color: white;
  background-color: red;
  margin: 4.5px;
  padding: 7px;
  border-bottom: solid 1px;
  border-left: solid 1px;
  border-radius: 7px;
}
.x:active {
  color: black;
}
.priceAlertContainer {
  width: 1/2;
  color: black;
}
.alertAmount {
  border-radius: 2px;
}
#submitNotification {
  display: block;
  margin: 0 auto;
}
#priceAmount {
  margin-bottom: 8px;
}
/* Form Validation */
#nameError {
  color: red;
  display: none;
}
