body, html {
  height: 100%;
  margin: 0;
}
button {
border-radius: 8px;
border: 1px solid transparent;
padding: 0.6em 1.2em;
margin-top: 5em;
font-size: 1em;
font-weight: 500;
font-family: inherit;
background-color: #1a1a1a;
cursor: pointer;
transition: border-color 0.25s;
}
#root {
  min-height: 100%;
  display: block;
  width: 100%;
  margin: auto;
  padding: 0rem;
  text-align: center;
}
#content {
  margin-top: 10rem;
}

/* Price history styles */

#timeContainer {
  justify-content: center;
}
#timeContainer h2 {
  color: lightpink;
  padding: 0;
  margin: 0;
}
#timeContainer h3 {
  font-size: 80%;
  padding: 0;
  margin: 0;
}
#timeContainer p {
  padding: 0;
  margin: 0;
  font-size: 150%;
  font-weight: bold;
}
#search-button {
  margin-left: 3rem;
}
#firstLine {
  font-size: 2.2em;
  line-height: .3;
  padding: 0;
  margin: 0;
}
.icon {
  height: 1em;
  padding-top: none;
  will-change: filter;
  transition: filter 300ms;
}
.icon:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.up {
  color: red;
}
.down {
  color: rgb(72, 227, 72);
}
.equal {
  color: white;
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}
.chart-container {
  width: 600px;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.canvas-wrapper {
  display: flex;
  justify-content: center;
  width: full;
}

.currentCity {
  font-size: 105%;
  font-weight: bold;
}

.priceTitle {
  padding: 3rem 0 1rem 0;
}
.departingLabel {
  padding-right: .5rem;
}

.search {
  margin: 0 3rem;
}
span .search {
  padding: 1rem;
  margin: 0 2rem;
}
button .search {
  padding-left: 5rem;
  margin-left: 0;
}

.suggestion-item {
  width:20%;
  padding: 8px;
  cursor: pointer;
  color: black;
  background-color: white;
  border: 1px solid #ddd;
  z-index: 1000;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.suggestions {
  position: relative;
  flex-direction: row;

}
.suggestions-container {
  position: absolute;
  top: 90%;
  left: 52%;
  transform: translate(0%, 0%);
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  z-index:1000;


}
